<!-- loading static folder to access .css  -->
{% load static %} 

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Imported font from Adobe Fonts -->    
    <link rel="stylesheet" href="https://use.typekit.net/vqu3njy.css">
<!-- commented out Bootsrap CSS to write my own -->

    <!-- Bootstrap CSS
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    -->


    <!-- Loading the local .css -->
    <link rel="stylesheet" type="text/css" href="{% static 'overviewpage/main.css' %}">

    <title></title>
  </head>
  <body>

<!-- navbar -->
 <ul class="navbar">
   <li><a class="active" href="#overview">OVERVIEW</a></li>
   <li><a href="#projects">PROJECTS</a></li>
   <li><a href="#gallery">GALLERY</a></li>
   <li><a href="#about">ABOUT</a></li>
   <li><a href="#links">LINKS</a></li>
 </ul>	
<!-- endnavbar -->

 <div class="parallax">
    <div class="title-card">
	<ul>
          <li><a>CHRISTIAN </a></li>
          <li><a>   </a></li>
          <li><a class="highlight"> GOMEZ</a></li>
        </ul>
        <ul>
          <li><a class="tagline">ILLUSTRATOR | WEB DESIGNER | DEVELOPER</a></li>
          <hr class="solid">
        </ul>
        <ul>
          <li><button class="button" href="#contactme">CONTACT ME</button></li>
          <li><button class="button" href="resume">MY RESUME</button></li>
        </ul>
    </div>
 </div>

 <div class="gallery-container">
    <div class="title-card">
        <ul>
          <li><a>FEATURED </a></li>
          <li><a class="highlight"> WORK</a></li>
          <hr class="solid">
        </ul>
    </div>
 
   		{% block content %}{% endblock %}
 </div>


 <div class="parallax">
    <div class="lower-button-group">
      <ul>
       <li class="button-text-unit"><button class="button" href="#LINK1"></button><a>LINK1</a></li>
       <li class="button-text-unit"><button class="button" href="#LINK1"></button><a>LINK2</a></li>
      </ul>
   
      <ul>
       <li class="button-text-unit"><button class="button" href="#LINK1"></button><a>LINK3</a></li>
       <li class="button-text-unit"><button class="button" href="#LINK1"></button><a>LINK4</a></li>
      </ul>

    </div>    
 </div>

<!--credits-->
 <ul class="credits">
     <li><a>Credits: Anonymous</a></li>

<!--        <li><a class="active" href="#overview">OVERVIEW</a></li>
        <li><a href="#projects">PROJECTS</a></li>
        <li><a href="#gallery">GALLERY</a></li>
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#links">LINKS</a></li>
-->
 </ul>    
<!--endcredits-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
