{% extends "overviewpage/navbar.html" %}

	{% block titlecard %}	
<!--parallax-->
	 <div class="parallax">
	    <div class="title-card">
	        <ul>
	          <li><a>{{ pageTitle }}</a></li>
	          <li><a>   </a></li>
	          <li><a class="highlight">{{ pageTitleHighlight }}</a></li>
	        </ul>
	        <ul>
	          <li><a class="tagline">{{ pageTagline }}</a></li>
	          <hr class="solid">
	        </ul>
	<!--Title Buttons-->
	        <ul>
		  <li><button class="button" onclick="scrollProject(0)">APARTMENT WEBSITE</button></li>
	          <li><button class="button" onclick="scrollProject(1)">COSMONAUT GAME</button></li>
	          <li><button class="button" onclick="scrollProject(2)">THIS WEBSITE</button></li>
	        </ul>
	<!--endbuttons-->

	    </div>
	 </div>
<!--endparallax-->

	{% endblock titlecard %}



	{% block content %}
	 <div class="gallery-container" style="padding-top:50px;">
                <div class="title-card">
			<div id="projects" class="gallery">
			{% for project in projects %}
				<div id="{{project.ProjectCategory}}" class="gallery-content" style="display:hidden;">
                    			<div class="title-card">
                        			<ul>
						 <hr class="solid">
                        			 <li><a>{{ project.title }} </a></li>
                        			 <li><a class="highlight"> {{ project.title_highlight }}</a></li>
                        			 <hr class="solid">
                        			</ul>
                    			</div>

					<div class="project-container" style="display: hidden; padding:50px;">
                        	        	<div id="galleryImg" style="float:right; padding:10px;">
                                	        	<img id="projImg" src="{{ project.image_first.url }}" alt="Test" width="400" height="auto" onclick=ViewImage("{{post.image.url}}")>
                                		</div>
						<div class="proj-title">{{ project.subtitle_first }}</div>
						<div class="proj-desc" style="display:inline">
							<p>{{ project.description_first }}</p>
						
						</div>
					</div><!--endproject-container-->

					<div class="project-container" style="display: hidden; padding:50px;">
                                		<div id="galleryImg" style="float:left; padding:10px;">
                                        		<img id="projImg" src="{{ project.image_secondary.url }}" alt="Test" width="400" height="auto" onclick="ViewImage(&quot;&quot;)">
                                		</div>
						<div class="proj-title">{{ project.subtitle_second }}</div>
						<div class="proj-desc" style="display: inline;">
							<p>{{ project.description_second }}</p>
						</div>
					</div><!--endproject-container-->

				</div><!--endgallery-content-->
			{% endfor %}
			</div><!--endtitlecard-->

                </div><!--endgallery-->
	</div>

 

	{% endblock content %}


	{% block modal %}
	 <div id="myModal" class="modal">
		<span class="close">&times;</span>
		<img class="modal-content" id="img01">
		<div id="caption"></div>
	 </div>

	{% endblock modal %}

	{% block script %}
	 <script>

		//this variable gets the modal
		var modal = document.getElementById("myModal");
		var tabcontent = document.getElementsByClassName("gallery-content");

		// Get the image and insert it inside the modal - use its "alt" text as a caption
		var img = document.getElementById("myImg");
		var modalImg = document.getElementById("img01");
		var captionText = document.getElementById("caption");

		function ViewImage(a){
		  modal.style.display = "block";
		  modalImg.src = a;
		  captionText.innerHTML = this.alt; 
		}

		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("close")[0];

		// When the user clicks on <span> (x), close the modal
		span.onclick = function() {
		  modal.style.display = "none";
		}

		function Filter(a){	
			for (i = 0; i < tabcontent.length; i++) {
				if(tabcontent[i].id == a){
					//alert("MATCH");
   					tabcontent[i].style.display = "inline-block";
				}else{
					tabcontent[i].style.display = "none";
				}
  			}
		
			

			
		}
	
		
                function scrollProject(a){
			var location = document.getElementById(a);                        
			window.scrollTo(0, location.offsetTop-75);
                }

	 </script>
	{% endblock script %}
