body {
  margin: 0;  
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0);  /*Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black with opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.modal-background{
   width: 80%;height: auto;position: absolute;display: block;bottom: 0;z-index: -1;padding: 100px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption , .modal-background{
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}


/* adjust look of the unsorted list with the following attributes */

.navbar {
  positon:top;
  list-style-type: none;
  margin: 0;
  border: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
  text-decoration: none;
  text-align: center;
  border-style: none;
  max-width:100%;
  opacity: 1;
}  

/* adjust list elements to float left side justified */

.navbar li {
  /*float:left;*/
  display:inline;
  text-align:center;
  text-decoration: none;
  font-family: din-condensed, sans-serif;
  font-weight: bold;  
}

/* adjust the 'a' elements in the list entry to look like the follwoing */

.navbar .btn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* adjust the hover behavior of the 'a' elements in the the list entry by changing the color */

.navbar .btn:hover {
  border-bottom: 5px solid #00E0A8;
}

/* highlights the page the user is currently on */

.active {
  border-bottom: 5px solid #00E0A8;

}

.parallax{
  border: none;
  height: 100%;
  padding-top: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  padding-left: 25px;
/* getting image from static */
  background: url('/static/img/WebsiteBackground.png');

/* setting height */
  min-height: 500px; 

/* Parallax Effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

/* cleaning up white bars*/
  overflow: hidden;

/* text settings */
  font-family: din-condensed, sans-serif;
  font-weight: bold;
  color: white;
}

.gallery-container{
  border: none;
  padding-top: 100px;
  padding-right: 25px;
  padding-bottom: 100px;
  padding-left: 25px;

/* getting image from static */
  background: url('/static/img/WebsiteParallaxBackground.png');

/* setting height */
  min-height: 500px; 

/* parallax effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

/* cleaning up white bars*/
  overflow: hidden;
}

.gallery-container .title-card{
  margin: auto;
  color: white;
}

.gallery-container .title-card ul{
  padding: 0px;
  text-align: center;
  position: static;
}
/*Gallery*/
.gallery {
  display: inline-block;
  padding: 50px;
  overflow:hidden;
  width: fit-content;
  text-align: center;
}

#galleryImg{
  overflow:hidden;
  padding: 10px;
  display:inline-block;
}

#galleryImg>img{
  vertical-align:middle;
}


/* Project Container Begin */
.gallery .gallery-content .project-container .proj-desc {
   font-family: sweet-sans-pro, sans-serif;
   text-align:left;
}

.gallery .gallery-content .project-container .proj-title{
   font-family: din-condensed, sans-serif;
   font-weight:100;
   font-size:500%;
   font-style:italic;
}


/*end Project Container*/


/*=====*/

.parallax .title-card{
  position:center;
  padding-top: 100px;
}

.title-card li{
  list-style-type:none;
  display: inline;
  font-family: din-condensed, sans-serif;
  font-weight: normal;
}

.title-card ul{
  margin: 0px;
}

.title-card a{  
  font-size: 700%;
}

.highlight{
  color: #00E0A8; 
}

.parallax .tagline{
  font-size: 200%;
  font-family: sweet-sans-pro, sans-serif;
  padding-bottom: 25px;
}

.solid{
  border-top: 2px solid white;
}

/*button group begin */

.button{
  background-color: transparent;
  border: 5px solid #00E0A8;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: din-condensed, sans-serif;
  font-weight: normal;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  
}

.button:hover{
  background-color: #00E0A8;
}

.lower-button-group{
 padding-left: 100px;
}

.lower-button-group .button-text-unit{
  padding-top:50px;
  padding-bottom:50px;
  padding-left:100px;
  padding-right:100px;
}

.lower-button-group ul{
  padding:100px;
}

.lower-button-group li{
  list-style-type:none;
  display:inline;
}

.lower-button-group .button{
  border-radius:50%;
  height:50px;
  width:50px;
  background: #00E0A8;
  padding: 0px;
}

.lower-button-group .button:hover{
  background-color:white;
}

.lower-button-group ul .button-text-unit  {
  list-style-type:none;
  text-decoration:none;
}

.lower-button-group .button-text-unit  a{
  list-style-type:none;
  text-decoration:none;
  height:50px;
  width:50px;
  font-size:300%;
  padding-left: 50px;
  padding-right:100px;
}


/* ====Credits Portion==== */

.credits{
  positon:bottom;
  list-style-type: none;
  margin: 0;
  border: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
  text-decoration: none;
  text-align: center;
  border-style: none;
  max-width:100%;
  opacity: 1;
}

.credits li {
  float:left;
  display:inline;
  text-align:center;
  text-decoration: none;
  font-family: din-condensed, sans-serif;
  font-weight: bold;  
}

.credits a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
